@page "/"
@rendermode InteractiveServer
@inherits QuizScript

<PageTitle>Quiz</PageTitle>

<div class="mainView">
    @if (!ExceptionState)
    {
        <h1>@Quiz.Name</h1>
    }
    else
    {
        <p>@ExceptionMessage</p>
    }
    
    @if (!TestStarted && !ExceptionState)
    {
        <p>@Quiz.IntroText</p>
        <button class="btn btn-primary" @onclick="StartQuiz">Начать опрос</button>
    }
    
    @if (!TestFinished && TestStarted && !ExceptionState)
    {
        @if (SetManagingOrganization)
        {
            <h4>@ManagingOrganization</h4>
        }
        <h3>@Question.Name</h3>
        <div>
            @switch(Question.QuestionType)
            {
                case Enums.QuestionType.IsAnswerId:
                {
                    <p>
                        <InputRadioGroup @bind-Value="SelectedAnswer">
                            @foreach(var answer in Question.Answers)
                            {
                                <InputRadio Value=@answer.Id />@answer.Name<br />
                            }
                        </InputRadioGroup>
                    </p>
                    
                    break;
                };
                case Enums.QuestionType.IsROId:
                {
                    if (@NotFoundROs)
                    {
                        <p style="color: red">Ваш адрес не найден в системе Электронного ЖКХ. Попробуйте еще раз</p>
                    }
                    <input type="text" required pattern="^[А-ЯЁа-яё\s]+,{1}\s*[А-ЯЁа-яё\s]+,{1}\s*\d+$" @bind="@SelectedAnswer" />
                    <p />
                    <button class="btn btn-primary" @onclick="SearchRO">Поиск</button>
                    <p />
                    if (@FoundROs)
                    {
                        <p>
                            Выберете точный адрес:<br />
                            <InputRadioGroup @bind-Value="SelectedRO">
                                @foreach(var foundedRO in FoundedROs)
                                {
                                    <InputRadio Value=@foundedRO.Key />@foundedRO.Value[0]<br />
                                }
                            </InputRadioGroup>
                        </p>
                    }
                    break;
                };
                case Enums.QuestionType.IsFIO:
                {
                    <input type="text" required pattern="^[А-ЯЁ]{1}[а-яё]{2,}\s[А-ЯЁ]{1}[а-яё]{2,}\s[А-ЯЁ]{1}[а-яё]{2,}$" @bind="@SelectedAnswer" />
                    <br /><br />
                    break;
                };
                default:
                {
                    <input type="text" required @bind="@SelectedAnswer" />
                    <br /><br />
                    break;
                };
            }
        </div>
    
        @if (!SwitchButtonsToFinish)
            {
                <button class="btn btn-primary" @onclick="NextQuestion">Следующий вопрос</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="FinishQuiz">Закончить опрос</button>
            }
    }
    
    @if (TestFinished && !ExceptionState)
    {
        <p>@Quiz.OutroText</p>
        @if (HasNextQuiz)
        {
            <button class="btn btn-primary" @onclick="NextQuiz">Следующий опрос</button>
        }
        else
        {
            <p>Опросов больше нет</p>
        }
    }
</div>
